{% extends "template/base.html.twig" %}
{% import "macros/cv-item.html.twig" as CVItem %}
{% block siteTitle %}Curriculum Vitae{% endblock %}
{% set year = "now"|date("Y") %}

{% block mainContent %}

<div class="cv">
  <img class="cv__photo b-lazy" data-src="/img/cv.jpg" alt="" />
  <p class="cv__presentation">
    <span>Julien VENEROSY</span>
    <span>29 ans</span>
    <span>{{ year - 2007 }} ans d'experience</span>
    <span><strong>Developpeur Front End - Intégrateur Web</strong></span>
  </p>

  <h2 class="cv__categorie">FORMATIONS ET DIPLOMES</h2>
  {{ CVItem.getItem("2009 - 2010", "Licence Pro Webmaster (Intégration, développement Front et Back Office, Webdesign, Print) à l'Institut BGS") }}
  {{ CVItem.getItem("2006 - 2008", "DUT Services et Réseaux de Communication") }}
  {{ CVItem.getItem("2006", "Baccalauréat Sciences et Technologie de l'Ingénieur, option Génie Mécanique") }}
  <h2 class="cv__categorie">COMPETENCES TECHNIQUES</h2>
  {{ CVItem.getItem("Environnements", "Windows, Mac, Linux") }}
  {{ CVItem.getItem("Développement web", "Intégration web responsive, HTML5, HTML type email, CSS3, Sass, Compass, Javascript, jQuery, jQuery Mobile, Node.js, RequireJS, Grunt, Gulp") }}
  {{ CVItem.getItem("Versioning", "Git, SVN, WinCVS") }}
  {{ CVItem.getItem("CMS & Templating", "Jekyll, Twig, Wordpress, Spip, Prestashop, Drupal, Magento") }}
  <h2 class="cv__categorie">EXPERIENCES PROFESSIONNELLES FREELANCE</h2>
  {{ CVItem.getItem("Janvier 2016 à Juin 2016", "<strong>Le Figaro</strong>Renforcement de l'équipe technique du Figaro pour les besoins d'intégration du site Sport24. Templating Twig, Sass, Compass, JS.") }}
  {{ CVItem.getItem("Octobre 2015 à Janvier 2016", "<strong>Groupe Alticemedias</strong>Renforcement de l’équipe Front-End du groupe pour la refonte du site de l’Etudiant. Utilisation de scripts maison en NodeJS pour l’automatisation des taches, attention importante apportée au markup HTML5 des pages, CSS3 avancé (abandon du support d’IE9 et 10 ), Sass, Compass. Intégration mobile-first, full responsive.  Intégration de la nouvelle newsletter du site (responsive également).") }}
  {{ CVItem.getItem("Juillet à Août 2015", "<strong>Showroomprive</strong>Intégration de pages d’offres spéciales et d’email pour Showroomprive. HTML5, CSS3 et jQuery. Grunt pour l’automatisation des test emails.") }}
  {{ CVItem.getItem("Janvier à Juillet 2015", "<strong>AccorHotels</strong>Intégration de la jeune équipe Front-End AccorHotels, avec pour mission le rappatriement en interne d’intégration de pages jusqu’alors confiées en externes. Totale autonomie sur les technos lors de refonte de pages : HTML5, CSS3, jQuery. Utilisation de WinCVS pour le versionning.") }}
  {{ CVItem.getItem("Mai 2015", "<strong>AKQA</strong>Renforcement d’effectifs pour la sortie de <a href=\"http://paristories.psg.fr/\">Paristories</a> HTML5, CSS3, jQuery et Gulp pour l’automatisation des tâches.") }}
  {{ CVItem.getItem("Septembre 2014 à Janvier 2015", "<strong>Bouygues Télécom</strong>Intégration du portail dédié à la nouvelle offre Bbox et pages spéciales rattachées à l’offre au sein de l’équipe Front. Intégration HTML5 & CSS3, Sass et jQuery d’après le cahier des charges Bouygues. Totale autonomie sur les technologies utilisées.") }}
  {{ CVItem.getItem("Septembre 2014", "<strong>Fédération Française de Tennis</strong>Création statique du nouveau portail adhérent en HTML5 & CSS3, Sass, jQuery. Intégration full responsive afin de produire des maquettes fonctionnelles. Utilisation de Grunt pour l’automatisation de taches.") }}
  <h2 class="cv__categorie">EXPERIENCES PROFESSIONNELLES INTERNES</h2>
  {{ CVItem.getItem("De Juillet 2013 à Septembre 2014", "<strong>Mégalo & Company</strong>Chargé d'apporter mon expertise lors de la réflexion de projet, je suis également en charge de l'intégration des sites et emails des différents clients de l’agence, grande autonomie sur le choix des solutions apportées aux différents projets (Salomon Freeski, BMW & Vous, Foncia, Puiforcat, Leonard...)") }}
  {{ CVItem.getItem("2009 à 2013", "<strong>NextInteractiveMedia</strong>Conversion de stage d’un an en CDI, intégration de l’équipe Technique en charge des sites du groupe : 01Net, Télécharger.com, RMC, RMC Sport, RMC Découverte, BFM et BFM Business.") }}
  {{ CVItem.getItem("2007 à 2009", "<strong>Fullsix</strong>Alternance de 2 années, enrichissantes et formatrices, aussi bien sur le plan des compétences que sur le travail en équipe. Créations graphiques, Animations Flash, Création d'emails. Apprentissage de Photoshop, Flash (RIP), Illustrator, des technologies HTML et CSS, montage d’emails.") }}

</div>

{% endblock %}
